attrs
blinker
click
colorama
contourpy
cycler
flasgger
Flask
Flask-Testing
fonttools
iniconfig
itsdangerous
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
MarkupSafe
matplotlib
mistune
numpy
packaging
pandas
pillow
pluggy
pyparsing
pytest
python-dateutil
pytz
PyYAML
referencing
rpds-py
scikit-learn
scipy
seaborn
six
threadpoolctl
tzdata
Werkzeug
gunicorn