.grafico-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.grafico-select {
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.grafico-section {
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grafico-titulo {
    font-size: 24px;
    margin-bottom: 20px;
}

.grafico-img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}