

.toggle-buttons {
    text-align: center;
    margin-top: 10px;
}

.toggle-buttons button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
}

.toggle-buttons button:hover {
    background-color: #555;
}

main {
    padding: 20px;
}

.prediction-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

.prediction-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.prediction-form select
 {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.prediction-form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 15px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
}

.prediction-form button:hover {
    background-color: #555;
}

.prediction-form input[type="number"] {
    width: 96.5%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}