.result-section {
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.result-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.result-text {
    font-size: 1.5rem;
    color: #666;
}

.delay {
    color: red;
}

.no-delay {
    color: green;
}

.dark-mode .result-title {
    color: black;
}