<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Já pode voar?</title>
    <link rel="stylesheet" href="../static/css/globals.css">
    <link rel="stylesheet" href="../static/css/dashboards.css">
</head>
<body>
    <aside class="navbar">
        <nav>
            <ul>
                <div class="container-logo"><img src="../static/image/logo.png" alt="Logo"></div>
                <li><a href="/" data-translate="inicio">Home</a></li>
                <li><a href="/dashboard" data-translate="graficos">Dashboards</a></li>
                <li><a href="/predictor" data-translate="previsao">Delay Prediction</a></li>
            </ul>
        </nav>
        <div class="toggle-buttons">
            <button id="toggle-dark-mode">🌙</button>
            <button id="toggle-language">🇧🇷</button>
        </div>
    </aside>
    <main>
        <div class="grafico-container">
            <select name="grafico" id="grafico-select" class="grafico-select">
                <option value="Heartmap">Heartmap</option>
                <option value="Voosatrasados">Quantidade de atrasos</option>
                <option value="Vooscompanhias">Voos por Companhias</option>
                <option value="Voossemana">Voos por semana</option>
                <option value="Vooscompanhias">Atrasos por companhia</option>
                <option value="Voosatrasadossemana">Voos atrasados por semana</option>
                <option value="DelaysByAirlineAndTime">Atrasos por Aeroportos e Tempo</option>
            </select>
        </div>
    </main>
    <script src="../static/js/dark-mode.js"></script>
    <script src="../static/js/language-toggle.js"></script>
    <script src="../static/js/grafico.js"></script>
</body>
</html>