<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Já pode voar?</title>
    <link rel="stylesheet" href="../static/css/globals.css">
</head>
<body>
    <aside class="navbar">
        <nav>
            <ul>
                <div class="container-logo"><img src="../static/image/logo.png" alt="Logo"></div>
                <li><a href="/" data-translate="inicio">Home</a></li>
                <li><a href="/dashboard" data-translate="graficos">Dashboards</a></li>
                <li><a href="/predictor" data-translate="previsao">Delay Prediction</a></li>
            </ul>
        </nav>
        <div class="toggle-buttons">
            <button id="toggle-dark-mode">🌙</button>
            <button id="toggle-language">🇧🇷</button>
        </div>
    </aside>
    <main>
        <section id="database">
            <h1 data-translate="database-title">Understanding the Database</h1>
            <table>
                <thead>
                    <tr>
                        <th data-translate="coluna">Column</th>
                        <th data-translate="descricao">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-translate="airline">Airline</td>
                        <td data-translate="ariline-description">Nome abreviado de diferentes companhias aéreas comerciais</td>
                    </tr>
                    <tr>
                        <td data-translate="flight">Flight</td>
                        <td data-translate="airportTo"> Número que representa a aeronave que realizou o voo</td>
                    </tr>
                    <tr>
                        <td data-translate="airportFrom">AirportFrom</td>
                        <td data-translate="airportTo">Sigla do aeroporto de origem do voo.</td>
                    </tr>
                    <tr>
                        <td data-translate="airportFrom">AirportTo</td>
                        <td data-translate="airportTo">Sigla do aeroporto de destino do voo.</td>
                    </tr>
                    <tr>
                        <td data-translate="airportFrom">DayOfWeek</td>
                        <td data-translate="airportTo">representa em que dia da semana o voo foi realizado (1 a 7).</td>
                    </tr>
                    <tr>
                        <td data-translate="airportFrom">Time</td>
                        <td data-translate="airportTo"> Indica em minutos o horário programada para a decolagem ou pouso.</td>
                    </tr>
                    <tr>
                        <td data-translate="dayOfWeek">Length</td>
                        <td data-translate="time">Refere-se ao tempo total que o voo levou, em minutos.</td>
                    </tr>
                    <tr>
                        <td data-translate="length">Delay</td>
                        <td data-translate="delay">Se houve ou não atraso (0 = sem atraso, 1 = com atraso)</td>
                    </tr>
                </tbody>
            </table>
            <div class="buttons">
                <button data-translate="num-linhas-colunas">Base de dados</button>
                <button data-translate="estrutura-dataframe">Estrutura dos dados</button>
                <button data-translate="estatisticas-colunas">Estatisticas das colunas</button>
                <button data-translate="balanceamento-classes">Balanceamento da base de dados</button>
                <button data-translate="mostrar-tratamento-dados">Resumo Tratamento de dados</button>
            </div>
            <div class="result"></div>
        </section>

    </main>
    <script src="../static/js/dark-mode.js"></script>
    <script src="../static/js/language-toggle.js"></script>
    <script src="../static/js/buttons-index.js"></script>
</body>
</html>