<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Previsão de Atraso</title>
    <link rel="stylesheet" href="../static/css/forms.css">
    <link rel="stylesheet" href="../static/css/globals.css">
</head>
<body>
    <aside class="navbar">
        <nav>
            <ul>
                <div class="container-logo"><img src="../static/image/logo.png" alt="Logo"></div>
                <li><a href="/" data-translate="home">Home</a></li>
                <li><a href="/dashboard" data-translate="dashboards">Dashboards</a></li>
                <li><a href="/predictor" data-translate="prediction">Delay Prediction</a></li>
            </ul>
        </nav>
        <div class="toggle-buttons">
            <button id="toggle-dark-mode">🌙</button>
            <button id="toggle-language">🇧🇷</button>
        </div>
    </aside>
    <main>
        <form id="prediction-form" class="prediction-form" method="POST" action="/predict_delay">
            <label for="linha-aerea" data-translate="linha-aerea">Linha Aérea:</label>
            <select name="linha-aerea" id="linha-aerea" required>
                <!-- Opções serão adicionadas dinamicamente -->
            </select>

            <label for="aeronave" data-translate="aeronave">Aeronave</label>
            <select name="aeronave" id="aeronave" required>
                <!-- Opções serão adicionadas dinamicamente -->
            </select>

            <label for="aeroporto-origem" data-translate="aeroporto-origem">Aeroporto de Origem:</label>
            <select name="aeroporto-origem" id="aeroporto-origem" required>
                <!-- Opções serão adicionadas dinamicamente -->
            </select>

            <label for="aeroporto-destino" data-translate="aeroporto-destino">Aeroporto de Destino:</label>
            <select name="aeroporto-destino" id="aeroporto-destino" required>
                <!-- Opções serão adicionadas dinamicamente -->
            </select>

            <label for="dia-semana" data-translate="dia-semana">Dia da Semana:</label>
            <select name="dia-semana" id="dia-semana" required>
                <option value="1" data-translate="domingo">Domingo</option>
                <option value="2" data-translate="segunda-feira">Segunda-feira</option>
                <option value="3" data-translate="terca-feira">Terça-feira</option>
                <option value="4" data-translate="quarta-feira">Quarta-feira</option>
                <option value="5" data-translate="quinta-feira">Quinta-feira</option>
                <option value="6" data-translate="sexta-feira">Sexta-feira</option>
                <option value="7" data-translate="sabado">Sábado</option>
            </select>

            <label for="horario-voo" data-translate="horario-voo">Flight Time (Hours:Minutes):</label>
            <input type="time" name="horario-voo" id="horario-voo" required>

            <label for="duracao-voo" data-translate="duracao-voo">Flight Duration (Hours:Minutes):</label>
            <input type="time" name="duracao-voo" id="duracao-voo" required>

            <button type="submit" data-translate="verificar-atraso">Check Delay</button>
        </form>
        <div id="error-message" style="display: none; color: red;"></div>
        
    </main>
    <script src="../static/js/dark-mode.js"></script>
    <script src="../static/js/language-toggle.js"></script>
    <script src="../static/js/forms.js"></script>
</body>
</html>