<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Previsão de Atraso</title>
        <link rel="stylesheet" href="../static/css/forms.css">

    <link rel="stylesheet" href="../static/css/globals.css">
</head>
<body>
    <aside class="navbar">
        <nav>
            <ul>
                <div class="container-logo"><img src="../static/image/logo.png" alt="Logo"></div>
                <li><a href="/" data-translate="inicio">Home</a></li>
                <li><a href="/dashboard" data-translate="graficos">Dashboards</a></li>
                <li><a href="/predictor" data-translate="previsao">Delay Prediction</a></li>
            </ul>
        </nav>
        <div class="toggle-buttons">
            <button id="toggle-dark-mode">🌙</button>
            <button id="toggle-language">🇧🇷</button>
        </div>
    </aside>
    <main>
        <form id="prediction-form" class="prediction-form">
            <label for="linha-aerea">Linha Aérea:</label>
            <select name="linha-aerea" id="linha-aerea">
                <!-- Opções serão adicionadas dinamicamente -->
            </select>

            <label for="aeroporto-origem">Aeroporto de Origem:</label>
            <select name="aeroporto-origem" id="aeroporto-origem">
                <!-- Opções serão adicionadas dinamicamente -->
            </select>

            <label for="aeroporto-destino">Aeroporto de Destino:</label>
            <select name="aeroporto-destino" id="aeroporto-destino">
                <!-- Opções serão adicionadas dinamicamente -->
            </select>

            <label for="dia-semana">Dia da Semana:</label>
            <select name="dia-semana" id="dia-semana">
                <option value="1">Domingo</option>
                <option value="2">Segunda-feira</option>
                <option value="3">Terça-feira</option>
                <option value="4">Quarta-feira</option>
                <option value="5">Quinta-feira</option>
                <option value="6">Sexta-feira</option>
                <option value="7">Sabado</option>
            </select>

            <label for="horario-voo">Horário do Voo (em minutos):</label>
            <input type="number" name="horario-voo" id="horario-voo" min="0" max="1440">

            <label for="duracao-voo">Tempo de Duração do Voo (em minutos):</label>
            <input type="number" name="duracao-voo" id="duracao-voo" min="0">

            <button type="submit">Verificar Atraso</button>
        </form>
    </main>
    <script src="../static/js/dark-mode.js"></script>
    <script src="../static/js/language-toggle.js"></script>
    <script src="../static/js/forms.js"></script>
</body>
</html>